#red{
    color: #f00 ;
}

#Orange{
    color: orange;
}

#Yellow{
    color: yellow;
}

#Green{
    color: green;
}

#Blue{
    color: blue;
}

#Indigo{
    color: indigo;
}

#Violet{
    color: violet;
}